.foot {
  height: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end
}


.head {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.htmlinf ,.cssinf{
    display: flex;
    flex-direction: row;
    
    align-items:baseline ;
}
.html ,.css{
height:  30px;
}
.htmlline1 ,.cssline1{
    width: 50px;
    height: 5px;
    background-color: red;
}
.htmlline2 ,.cssline2{
    width: 300px;
    height: 5px;
    background-color: gray;
}
    .redline {
  background-color: red;
  height: 5px;
  margin: 30px 0 30px;
  width: 400px;
}
